.wrapper .blurb {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-top: 150px;
  padding: 20px;
  width: 441px;

}

/* header .wrapper .blurb:hover {
  transform: scale(.9);
  box-shadow: 0 3px 15px -2px;


} */